body {
  background: #231F00;
}

.header {
  font-family: 'Roboto', sans-serif;
  z-index: 100;
  color: white;
  font-size: 32px;
  letter-spacing: 0.3em;
  margin-top: 350px;
  text-align: center;
}

.occupation {
  font-family: 'Roboto', sans-serif;
  z-index: 100;
  color: white;
  font-size: 15px;
  letter-spacing: 0.3em;
  /*margin-top: 100px;*/
  padding-top: 10px;
  text-align: center;
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  animation:
    typing 2.5s steps(50, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 20% }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

@-webkit-keyframes blackWhite {
  0% { color: transparent; }
  50% { color: transparent; }
  51% { color: transparent; }
  100% { color: transparent; }
}

.arrow-down {
  text-decoration: none;
  text-align: center;
  z-index: 100;
  /*  position:fixed;
  left:50%;
  bottom:0%;
  margin-top:-25px;
  margin-left:-25px;
  height:50px;
  width:50px;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;*/
}

.arrow-down:after {
  content: none;
}

/*@keyframes arrow-down {
  0%, 20%, 50%, 80%, 100% {
  transform: translateY(0);
  }
  40% {
  transform: translateY(-30px);
  }
  60% {
  transform: translateY(-15px);
  }
}*/

#bounce {
  position: fixed;
  left: 50%;
  bottom: 0%;
  margin-top: -25px;
  margin-left: -25px;
  height: 50px;
  width: 50px;
  z-index: 100;
  -webkit-animation:bounce 1s infinite;
  -moz-animation:bounce 1s infinite;
  -o-animation:bounce 1s infinite;
  animation:bounce 1s infinite;

}
